*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.addcontact{
  margin-top: 2em;
}
.item1{
  display: flex !important;
  justify-content: space-between !important;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.icon{
  padding-top: 10px;
  color: red;
}
.content{
  display: flex;
}
.content img{
  margin: 5px 20px 0 0;
}